<% provide(:about, "active") %>
<div class="container">
	<div class="row">
				<div class="col-md-12">
					<h1>About Us</h1>
				</div>
			</div>
		</div>
	</div>
<div class="container">
	<div class="row">
		<div class="container">
			<div class="row">
		<div class="col-md-7">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aliquid ipsam vero accusamus eos asperiores! Ducimus recusandae nam assumenda perferendis, voluptatibus vel tenetur! Atque incidunt illum, debitis quidem animi blanditiis.</p>

		</div>
		<div class="col-md-5">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aliquid ipsam vero accusamus eos asperiores! Ducimus recusandae nam assumenda perferendis, voluptatibus vel tenetur! Atque incidunt illum, debitis quidem animi blanditiis.</p>

		</div>

	</div>

</div>	